<div class="alert alert-warning" role="alert" *ngIf="showWarning">
    Your order currently is more than 1000$ now, please checkout
</div>


<div class="w-75 p-3">
    <h3>Product</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.title }}</td>
                <td> {{product.description}} </td>
                <td>{{ product.price }}</td>
                <th>
                    <i
                        class="fa cart-icon"
                        (click)="addToCart(product)">
                        &#xf07a;
                    </i>
                </th>
            </tr>
        </tbody>
    </table>

    <section class="pt-4 w-50">
        <h3>Your cart</h3>
        <table class="table" *ngIf="cartItems.length">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.amount }}</td>
                    <th>
                        <div class="d-flex gap-2">
                            <button type="button" class="btn btn-primary"
                                (click)="increment(item)">+
                            </button>
                            <button type="button" class="btn btn-danger ml-3"
                                (click)="decrement(item)">-
                            </button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>

        <p *ngIf="!cartItems.length">
            No item founds, please add one for checkout
        </p>
    </section>

    <div>
        <span>Total price: </span>
        <span>{{ totalPrice }}</span>
    </div>
</div>